* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: Poppins, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  padding: 2rem 5rem;
  background-color: #2f1a1a;
}

.navbar-title {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.links {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
}

.links:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-in-out;
  color: #27e819;
}

.home-page {
  /* font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5; */
  padding: 2rem 5rem;
}

.home-title {
  font-size: 3rem;
  font-weight: 700;
  color: #2f1a1a;
}

p {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #222;
  margin: 1rem 0;
}

.calculator-page {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  padding: 2rem 6rem;
  background-color: #f5f5f5;
}

.calculator-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  font-size: 2rem;
  font-weight: 700;
  color: #222;
  padding: 2rem 0;
}

.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  max-width: 400px;
  background: #fff;
  height: 29rem;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
}

.calculator-display {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 20%;
  background: #a99999;
  border-radius: 5px 5px 0 0;
  padding: 0 1rem;
  font-size: 2rem;
  color: #fff;
}

.calculator-buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 80%;
}

.calculator-buttons-row {
  display: flex;
  width: 100%;
  height: 20%;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 100%;
  background: #f1f1f1;
  border: 1px solid #e1e1e1;
  color: #333;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background: #e1e1e1;
}

.btn-operation {
  width: 25%;
  height: auto;
  background: orange;
  border: 1px solid #e1e1e1;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-operation:hover {
  background: #ff8c00;
}

.zero {
  width: 50%;
}

.quote {
  padding: 8rem;
}

.quote-title {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}
